<footer class="position-fixed px-4 py-1 d-none d-sm-block">
    <div class="container-fluid">
        <div class="row mx-0 justify-content-center justify-content-md-between align-items-baseline">
            <div class="col-auto">
                <small class="m-0">© Vanavihari All Rights Reserved.</small>
            </div>
            <div class="col-auto d-flex align-items-baseline gap-2">
                <small>Powered by TenSketch</small>
                <!-- <img class="logo" src="assets/images/logos/logo-vana.png" alt="kiya logo"> -->
            </div>
        </div>
    </div>
  </footer>